<div class="panel panel-info">
    <div class="panel-heading">
        <button class="btn btn-danger ">{{$ctrl.active}}</button>
        <button class="btn btn-warning" ng-click=$ctrl.createFilter()>Unread</button>
        <h3 class="panel-title pull-right">{{$ctrl.unreadCounter}}</h3>
        <input type="text" ng-model="senderName.Theme" placeholder="find" />
    </div>
    <div class="panel-body">
        <table class="table table-default">
            <tbody class="mail-box">
                <tr ng-repeat="letter in $ctrl.mails 
                      | filter:$ctrl.active=='All' 
                      ? '' : $ctrl.active | filter:senderName.Theme">
                    <td>
                        <a href="#"></a>{{letter._id}}</td>
                    <td>{{letter.from}}</td>
                    <td>{{letter.Theme}}</td>
                    <td>{{letter.nameSender}}</td>
                    <td>{{letter.textLetter}}</td>
                    <td>
                        <input type="checkbox" ng-model=letter.status ng-click=da(letter)>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
