<div class="panel panel-info">
    <div class="panel-heading">
      <button class="btn btn-danger ">{{$ctrl.active}}</button>
      <button class="btn btn-warning" ng-click=$ctrl.createFilter()>Unread</button>
      <h3 class="panel-title pull-right">{{$ctrl.unreadCounter}}</h3>
      <input type="text" ng-model="senderName.Theme" placeholder="find" />
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-9 col-lg-9">
         <table class="table table-striped">
              <tbody>
                <tr ng-repeat="letter in $ctrl.mails | filter:$ctrl.active=='All' ? '' : $ctrl.active | filter:senderName.Theme")>
                  <td>{{letter.from}}</td>
                  <td>{{letter.Theme}}</td>
                  <td>{{letter.date}}</td>
                  <td>{{letter.inBox}}</td>
                  <td><input type="checkbox" ng-model=letter.status ng-click=da(letter)></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
</div>