<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Your Canvas</title>

<style type="text/css"><!--
#container { position: relative; }
#imageTemp { position: absolute; top: 1px; left: 1px; }
--></style>

</head>
<body> 
<canvas id="imageView" width="600" height="500"></canvas>

<script type="text/javascript">
var canvas, context, canvaso, contexto;
canvaso = document.getElementById('imageView');
context = canvaso.getContext('2d');
context.lineWidth = 5;

context.strokeStyle = '#000000';
context.strokeRect(4, 60, 595, 322);

context.strokeStyle = '#000000';
context.beginPath();
context.moveTo(4, 59);
context.lineTo(598, 380);
context.stroke();
context.closePath();

context.strokeStyle = '#000000';
context.beginPath();
context.moveTo(3, 380);
context.lineTo(598, 61);
context.stroke();
context.closePath();

context.lineWidth = 6;

context.lineWidth = 7;

context.lineWidth = 8;

context.lineWidth = 9;

context.lineWidth = 10;

context.lineWidth = 11;

context.lineWidth = 12;

context.lineWidth = 13;

context.lineWidth = 14;

context.lineWidth = 13;

context.lineWidth = 12;

context.lineWidth = 11;

context.lineWidth = 10;

context.lineWidth = 9;

context.lineWidth = 8;

context.lineWidth = 7;

context.lineWidth = 6;

context.lineWidth = 5;

context.lineWidth = 4;

context.lineWidth = 3;

context.lineWidth = 2;

context.lineWidth = 3;

context.lineWidth = 4;

context.lineWidth = 5;

context.lineWidth = 6;

context.strokeStyle = '#000000';
context.beginPath();
context.moveTo(308, 381);
context.lineTo(597, 217);
context.stroke();
context.closePath();

context.strokeStyle = '#000000';
context.beginPath();
context.moveTo(598, 216);
context.lineTo(303, 60);
context.stroke();
context.closePath();

context.strokeStyle = '#000000';
context.beginPath();
context.moveTo(304, 61);
context.lineTo(5, 210);
context.stroke();
context.closePath();

context.strokeStyle = '#000000';
context.beginPath();
context.moveTo(4, 209);
context.lineTo(309, 380);
context.stroke();
context.closePath();
</script>
</body>
</html>