<form class="form" ng-submit="">
    <div class="bs-example" data-example-id="textarea-form-control">
        <div class="bs-callout bs-callout-danger">
            <div class="form-group">
                <label for="exampleInputEmail1">Send to:</label>
                <input type="email" class="form-control" placeholder="To" ng-model={{$ctrl.sender}}>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject" ng-model={{$ctrl.subject}}>
            </div>
            <div class="form-group">
                <label>message:</label>
                <textarea class="form-control" rows="3" placeholder="message text" ng-model={{$ctrl.textMessage}}></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default pull-right">Send</button>
            </div>
        </div>
    </div>
</form>