<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 nopadding">
            <div class="navbar navbar-default navbar-fixed-left left-section">
                <p>
                    <button class="btn btn-primary center-block compose btn-lg">COMPOSE</button>
                </p>
                <a class="title" href="#"> E-MAIL Angular - {{$ctrl.readMessages}}</a>
                <div ng-repeat="each in $ctrl.navbarsList">
                    <ul class="nav navbar-nav">
                        <li><a ng-href="#" ng-click=$ctrl.makeActive(each)>{{each}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="container"> -->
        <!-- <div class="row"> -->
        <div class="col-sm-10 col-md-10 col-lg-10 nopadding">
            <mails active=$ctrl.active ng-click=$ctrl.sent()></mails>
            <!-- </div> -->
        </div>
        <!-- </div> -->
    </div>
</div>