doctype html
html(ng-app="app")

  head

    meta(charset="UTF-8")
    title Jyotish Gifts
    link(rel="stylesheet" href="/dist/css/style.css")
    script(src="/dist/app.js")

  body
    
    .container-fluid.nav-color
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation                                 
            span.icon-bar                                 
            span.icon-bar                                
            span.icon-bar
                         
          a.navbar-brand._big-text(href="/") Jyotish-Gift {{1+1}}
        |             
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(ui-sref="letters") Почта   
              //- a(ui-sref="/mail") Почта   
            |    
            li
              a(ui-sref="auth") Профиль
              //- a(ui-sref="/auth") Профиль
            |                     
            li
              a(ui-sref="advice") Консультация
              //- a(ui-sref="/advice") Консультация
            |                     
            li
              a(ui-sref="mail") Составить карту
              //- a(ui-sref="/mail") Составить карту
            |                     
            li
              a(ui-sref="users") Пользователи         
              //- a(ui-sref="/mail") Пользователи         
     
    ui-view 


