<div class="container">
    <form action="/api/login" method="post">
        <h1>Please sign in</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="my@mail.com" required autofocus class="form-control" ng-model="$ctrl.control.email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" required class="form-control" ng-model="$ctrl.control.email">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
    </form>
    <a ui-sref="" class="btn btn-lg btn btn-block">Регистрация       </a>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Logout </button>
</div>
